body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%; /* this sets 1em to equal approximately 16px */
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    line-height: 1.3em;
    margin: 0 0 1em;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.drag-canvas {
    left: 0;
    position: absolute;
    top: 0;
}

canvas {
    -webkit-user-select: none; /* prevents the 'copy' option > http://www.bernskiold.com/2011/02/02/tips-and-tricks-for-ios-web-development/ */
       -moz-user-select: none;
            user-select: none;
}