body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%; /* this sets 1em to equal approximately 16px */
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    line-height: 1.3em;
    margin: 0 0 1em;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.drag-canvas {
    left: 0;
    position: absolute;
    z-index: -1;
}

.drag-canvas.is-active {
    z-index: 0;
}